@import url(stylenavegacion.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gochi Hand', cursive;
    background-image: url("../img/comunidad.jpg");
    background-size: 100%;
}

.form-login{
    width: 400px;
    height: 380px;
    background: rgb(219, 218, 218);
    margin: auto;
    margin-top: 150px;
    box-shadow: 5px 12px 20px #4d4c4c;
    padding: 20px 30px;
    border-top: 4px solid rgb(36, 103, 248);
    color: rgb(10, 10, 10);
}

.form-login h5{
    margin: 0;
    text-align: center;
    border-bottom: 1px solid;
    font-size: 25px;
    margin-bottom: 30px;
    height: 40px;
}

.controls{
    width: 100%;
    border: 1px solid #2ba9db;
    margin-bottom: 5%;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.buttons{
    width: 100%;
    height: 40px;
    text-align: center;
    background: #017bab;
    border-color: #314ff8;
    border-radius: 4px;
    color: white;
    margin-bottom: 16px;
    font-size: 15px;
    
}

.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom:16px;
    
}

.form-login a{
    color: #314ff8;
    text-decoration: none;
}


.buttons a{
    color:#ffffff;
    text-decoration: none;
}