
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;/*dentro del mismo modelo de caja no se expande */
}

body{
    font-family: 'Gochi Hand', cursive;
}

header{
    width: 100%;
    height: 50px;/*CORREGIR */
    background-color: rgba(28, 74, 223);
    color: white;

    position: fixed;/*fijo */
    top: 0;
    left: 0;/*comenzar desde el (0x,0y)*/
    z-index: 100;/*siempre estara por delante de los demas elementos*/
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float:left; /*para que flote*/
    padding: 5px;/*esto no estaba*/

}

header .contenedor{
    display: table; /*para lipiar los float y que el contenedor ocupe todo el header*/
}

/*             MENU               */



#menu-bar{
    display: none; /*checkbox*/
}

header label{/*icono del menu*/
    float: right;
    font-size: 28px;
    margin: 6px 0;/*6 hacia arriba y 0 a los costados*/
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;/*ocupa todo el alto de la ventana */
   
    transition: all 0.5s;
    transform: translateX(-100%);/*para q se traslade horizontalmente hacia la izq*/
}
.menu a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    border-bottom: 1px solid  rgba(28, 74, 223, 0.9);
}

.menu a:hover{
    background-color:  rgba(224, 133, 247, 0.3);;
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);/*para q vuelva a la posicion original una ves que este activado elicono de menu*/
}


@media (min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a {
        border:none;
    }
    header label{
        display: none;
    }
}