@import url(stylenavegacion.css);


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;/*dentro del mismo modelo de caja no se expande */
}

body{
    font-family: 'Gochi Hand', cursive;
    background-color: rgb(237, 240, 241);
    background-size: 100%;
    
}



header{
    width: 100%;
    height: 50px;/*CORREGIR */
    background-color:  #314ff8;
    color: white;

    position: fixed;/*fijo */
    top: 0;
    left: 0;/*comenzar desde el (0x,0y)*/
    z-index: 100;/*siempre estara por delante de los demas elementos*/
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float:left; /*para que flote*/
    padding: 5px;

}

header .contenedor{
    display: table; /*para lipiar los float y que el contenedor ocupe todo el header*/
}

section{
    width: 100%;
    margin-bottom: 25px;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    min-width: 100%; /* problema permite ampliar no deberia*/ 
}



/*apertura de incidentes*/


.form-login{
    width: 400px;
    /*height: 380px;*/
    background: rgb(219, 218, 218);
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 12px 20px #4d4c4c;
    padding: 20px 30px;
    border-top: 4px solid rgb(36, 103, 248);
    color: rgb(10, 10, 10);
    font-size: 20px;
    

}

.form-login h5{
    margin: 0;
    text-align: center;
    border-bottom: 1px solid;
    font-size: 25px;
    margin-bottom: 25px;
    height: 40px;
}

.controls{
    width: 100%;
    border: 1px solid #2ba9db;
    margin-bottom: 5%;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 16px;
    
}

.buttons{
    width: 100%;
    height: 40px;
    text-align: center;
    background: #017bab;
    border-color: #314ff8;
    border-radius: 4px;
    color: white;
    margin-bottom: 16px;
    font-size: 15px;
    
    
}


.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom:16px;
    
}

.form-login a{
    color: #314ff8;
    text-decoration: none;
}


.buttons a{
    color:#ffffff;
    text-decoration: none;
}







