<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no ,initial-scale=1 ,maximum-scale=1 ,minimum-scale=1">
    <title> Incidentes </title>

    <link rel="stylesheet" href="/css/styleincidentes.css">

    <script src="https://kit.fontawesome.com/e15e8c34af.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body  background ="/img/comunidad.jpg">
<header>
    <div class="contenedor">
        <h1 class="titulo">Sistema de Comunidades</h1>
        <input type="checkbox" id="menu-bar">
        <nav class="menu">
            <label for="menu-bar" class="menu-icon"><i class="fas fa-bars"></i></label>
            <ul>
                <li>
                    <a href="#">Comunidad</a>
                    <ul class="submenu">
                        <li><a href="/misComunidades">Mis Comunidades</a></li>
                        <li><a href="/comunidades">Comunidades</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Incidentes</a>
                    <ul class="submenu">
                        <li><a href="/incidentes/crear">Crear Incidente</a></li>
                        <li><a href="/incidentes">Incidentes Reportados</a></li>
                        {{!--<li><a href="mis_incidentes.html">Consultar Por Estado</a></li>--}}
                        <li><a href="/ranking">Rankings</a></li>
                    </ul>
                </li>
                    <a href="/servicios">Servicio</a>
                <li>
                    <a href="#">Notificacion</a>
                    <ul class="submenu">
                        {{!--<li><a href="mi_comunidad.html">Notificaciones</a></li>--}}
                        <li><a href="/config-notificacion">Configurar Notificaciones</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Configuracion</a>
                    <ul class="submenu">
                        <li><a href="mi_comunidad.html">Configuracion De Cuenta</a></li>
                        <li><a href="/logout">cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>


<main>

    <form class="form-login" method="post" >

        <h5>Apertura de incidente </h5>

        <label>nombre del Incidente:</label>
        <input class="controls" type="text" name="nombreIncidente" placeholder="ingrese breve descripción">

        <label>Servicio:</label>
        <select class="controls"  name="servicio">
            <option></option>
            {{#each servicio}}
                <option>{{this.getNombreServicioPrestado}}</option>
                {{/each}}
        </select>

        <br>

        <textarea name="observaciones" placeholder="Escriba aquí una observación..."></textarea>

        <br>
        <button class="buttons" type="submit"><a> Agregar incidente </a></button><!--registro usuario nuevo-->

    </form>

</main>

</body>

</html>