{{#partial "contenidoP" }}
    <div class="welcome-text">
        <p>Bienvenido</p>
        <p>Administra tus Entidades Prestadoras, Organismos de control y servicios de manera eficiente.</p>
    </div>
{{/partial}}
{{> templates/homePropietarioBase }}