{{#partial "contenidoP" }}
<div class="conteiner-tabla">
    <table>
        <thead>
        <tr>
            <th>Nombre Establecimiento</th>
            <th>Perteneciente a Entidad</th>
            <th>Descripcion</th>
            <th>Localizacion</th>
            <th>Servicios Prestados</th>
            <th><img src="img/edit.svg" width="60" height="22" alt="Editar"></th>
            <th><img src="img/delete.svg" width="60" height="22" alt="Editar"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Ver Servicios Prestados</a></button></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Editar</a></button></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Eliminar</a></button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Ver Servicios Prestados</a></button></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Editar</a></button></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Eliminar</a></button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Ver Servicios Prestados</a></button></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Editar</a></button></td>
            <td><button class="buttons" type="submit"><a href="comunidad.html">Eliminar</a></button></td>
        </tr>
        </tbody>
    </table>
    <button class="buttonConfi" type="submit"><a href="configuracion.html">Agregar</a></button>
</div>
{{/partial}}
{{> templates/homePropietarioBase }}