<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>Home Ciudadano</title>
    <link rel="stylesheet" href="/css/stylehomePropietario.css">
    <script src="https://kit.fontawesome.com/e15e8c34af.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body background="imagenes/comunidad.jpg">
<header>
    <div class="contenedor">
        <h1 class="titulo">Sistema de Comunidades</h1>
        <input type="checkbox" id="menu-bar">
        <nav class="menu">
            <label for="menu-bar" class="menu-icon"><i class="fas fa-bars"></i></label>
            <ul>
                <li>
                    <a href="#">Carga De Datos</a>
                    <ul class="submenu">
                        <li><a href="/cargaMasiva">Importar csv</a></li>
                        <li><a href="mis_incidentes.html">Carga Manual</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Subidos</a>
                    <ul class="submenu">
                        <li><a href="crear_incidente.html">General</a></li>
                        <li><a href="crear_incidente.html">Entidades Prestadoras</a></li>
                        <li><a href="mis_incidentes.html">Organismos Control</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Configuracion</a>
                    <ul class="submenu">
                        <li><a href="mi_comunidad.html">Configuracion De Cuenta</a></li>
                        <li><a href="comunidades.html">cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

 {{#block "contenidoP"}}
 {{/block}}



</body>
</html>
