<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Tu Sitio Web</title>
    <style>
        body {
            background-image: url('/img/comunidad.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen de fondo */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .container {
            color: white; /* Hacer el texto dentro de la clase "container" de color blanco */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Sistema de comunidades</a>
        <div class="navbar-nav ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ayuda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Más</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="/login">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="/registro">Registrarse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron mt-5">
                <h1 class="display-4">Bienvenido a Nuestra Página</h1>
                <p class="lead">Aquí encontrarás todo lo que necesitas.</p>
                <hr class="my-4">
                <p>Haz clic en las opciones de arriba para explorar nuestro sitio.</p>
            </div>
        </div>
    </div>
</div>

<!-- Pie de página en la parte inferior pegado al "suelo" -->
<footer class="bg-primary text-white text-center py-2 fixed-bottom">
    © 2023 Tu Sitio Web. Todos los derechos reservados.
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
