<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="css/styleinicio.css">
    <script src="https://kit.fontawesome.com/e15e8c34af.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body background="imagenes/comunidad.jpg">
<header>
    <div class="contenedor">
        <h1 class="titulo">Sistema de Comunidades</h1>
        <input type="checkbox" id="menu-bar">
        <nav class="menu">
            <a href="#">Inicio</a>
            <a href="#">Acerca de Nosotros</a>
            <a href="/login">Iniciar Sesion</a>
            <a href="/registro">Registrase</a>
        </nav>
    </div>
</header>

<div class="welcome-text">
    <h1>Bienvenido a Nuestra Página</h1>
    <p>Aqui encontraras todo lo que necesesites</p>
    <p>haz clic en las opciones de arriba para explirar nuestro sitio</p>
</div>

</body>
</html>
