<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ranking de Entidades</title>
    <!-- Añadir enlaces a CSS si es necesario -->
</head>
<body>
    <header>
        <div class="contenedor">
            <h1 class="titulo">Sistema de Comunidades</h1>
            <input type="checkbox" id="menu-bar">
            <nav class="menu">
                <label for="menu-bar" class="menu-icon"><i class="fas fa-bars"></i></label>
                <ul>
                    <li>
                        <a href="#">Comunidad</a>
                        <ul class="submenu">
                            <li><a href="/misComunidades">Mis Comunidades</a></li>
                            <li><a href="/comunidades">Comunidades</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Incidentes</a>
                        <ul class="submenu">
                            <li><a href="/incidentes/crear">Crear Incidente</a></li>
                            <li><a href="/incidentes">Incidentes Reportados</a></li>
                            {{!--<li><a href="mis_incidentes.html">Consultar Por Estado</a></li>--}}
                            <li><a href="/ranking">Rankings</a></li>
                        </ul>
                    </li>
                        <a href="/servicios">Servicio</a>
                    <li>
                        <a href="#">Notificacion</a>
                        <ul class="submenu">
                            <li><a href="mi_comunidad.html">Notificaciones</a></li>
                            <li><a href="/config-notificacion">Configurar Notificaciones</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Configuracion</a>
                        <ul class="submenu">
                            <li><a href="mi_comunidad.html">Configuracion De Cuenta</a></li>
                            <li><a href="/logout">cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <h1>Ranking de Entidades</h1>

    {{!-- Chequeamos si hay entidades para mostrar --}}
    {{#if ranking}}
        <table>
            <thead>
                <tr>
                    <th>entidad</th>
                    <th>cantidad de incidentes</th>
                    <th>promedio de resolucion</th>
                </tr>
            </thead>
            <tbody>
                {{!-- Iteramos sobre la lista de entidades --}}
                {{#each ranking}}
                    <tr>
                        <td>{{this.getEntidad.getNombre}}</td> <!-- Asumiendo que 'id' es una propiedad en la clase 'Entidad' -->
                        <td>{{this.cantidadIncidentes}}</td>
                        <td>{{this.calcularPromedioMinutos}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>No hay entidades para mostrar.</p>
    {{/if}}
</body>
</html>
