{{#partial "contenidoP" }}
    <div class="conteiner-tabla">
        <table>
            <thead>
            <tr>
                <th>Nombre Organismo De Control</th>
                <th>Entidades Prestadoras</th>
                <th><img src="img/edit.svg" width="60" height="22" alt="Editar"></th>
                <th><img src="img/delete.svg" width="60" height="22" alt="Eliminar"></th>
            </tr>
            </thead>

            <tbody>
            {{#each organismoDeControl}}
               <tr>
                  <td>{{this.getNombre}}</td>
                  <td><button class="buttons" type="submit"><a href="/organismosDeControlP/{{this.getId}}/entidadesPrestadorasP"> Ver Entidades Prestadoras</a></button></td>
                  <td><button class="buttons" type="submit"><a href="comunidad.html">Editar</a></button></td>
                  <td><button class="buttons" type="submit"><a href="comunidad.html">Eliminar</a></button></td>
               </tr>
            {{/each}}
            </tbody>
        </table>

        <!--<button class="buttonConfi" type="submit"><a href="configuracion.html">Configuración</a></button>-->
    </div>
{{/partial}}
{{> templates/homePropietarioBase }}