{{#partial "contenidoP" }}
<main>

    <section class="form-login">

        <h5>Editar Establecimiento </h5>

        <form class="form-registro" method="post" action="/registro">
            <p1>Nombre Establecimiento:</p1>
            <input class="controls" type="text" name="usuario" placeholder="Establecimiento">

            <p1>Descripcion:</p1>
            <textarea name="mensaje" placeholder="Escriba aquí una Descripcion..."></textarea>

            <br>
            <p1> ------------------------------------------------------ </p1>
            <br>
            <p1> Localizacion Actual:</p1>
            <br>
            <p1> Tipo: Provincia </p1>
            <br>
            <p1> Buenos Aires </p1>
            <br>
            <p1> ------------------------------------------------------  </p1>
            <br>

            <button class="buttons" type="button"><a href="comunidad.html"> Editar Localizacion </a></button>
            <button class="buttons" type="submit"><a href="comunidad.html"> Editar </a></button>
        </form>

    </section>

</main>
{{/partial}}
{{> templates/homePropietarioBase }}