{{#partial "contenidoP" }}
<main>

    <section class="form-login">

        <h5>Editar Establecimiento </h5>

        <form class="form-registro" method="post" action="/entidadesP/{{entidad.getId}}/establecimientosP/{{establecimiento.getId}}">
            <p1>Nombre Establecimiento:</p1>
            <input class="controls" type="text" name="nombre" placeholder="{{establecimiento.getNombre}}">

            <p1>Descripcion:</p1>
            <textarea name="descripcion" placeholder="{{establecimiento.getDescripcion}}"></textarea>

            <br>
            <p1> ------------------------------------------------------ </p1>
            <br>
            <p1> Localizacion Actual:</p1>
            <br>
            <p1> Tipo: Provincia </p1>
            <br>
            <p1> Buenos Aires </p1>
            <br>
            <p1> ------------------------------------------------------  </p1>
            <br>

            <button class="buttons" type="button"><a href="comunidad.html"> Editar Localizacion </a></button>
            <button class="buttons" type="submit"> Editar Establecimiento </button>
            <button class="buttons" type="button" onclick="volverAtras()"> Volver </button>
        </form>

    </section>
    <script>
        function volverAtras() {
            window.history.back();
        }
    </script>
</main>
{{/partial}}
{{> templates/homePropietarioBase }}